<div style="margin-top: 80px;">
  <div class="text-center">
    <h1 class="text-white" appColor>Our Movies</h1>
    <div class="d-flex justify-content-center mt-4">
      <nav class="nav nav-pills" *ngFor="let category of categories">
        <a class="nav-link btn rounded-pill bg-white text-dark border mx-2 px-4 py-2"
          (click)="selectCategory(category)">{{category}}</a>
      </nav>
    </div>
    <div id="movieCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="d-flex justify-content-center mt-4">
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row mx-auto" style="max-width: 1200px;">
            <div class="col-sm-6 col-md-3" *ngFor="let film of filteredFilms">
              <app-single-movie [film]="film" [routerLink]="['/movie-details' , film.id]"></app-single-movie>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>